<form id="awaiting-credentials-form" action="/api/state/<%=action%>" method="POST" autocomplete="off">
    <% fields.forEach((field) => { %>
    <div>
        <label for="field-<%=field.name%>"><%=field.label%></label>
    </div>
    <div>
        <input id="field-<%=field.name%>" name="<%=field.name%>" type="<%=field.type%>" />
    </div>
    <% }); %>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>
